body {
  color: #222;
  font: 1rem/1.25 open sans;
}

body .btn-primary,
body .bg-primary {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

body .btn {
  border-radius: 2rem;
  width: 9rem;
  height: 3rem;
  border: unset;
  line-height: 1.25rem;
  font-weight: 700;
}

body .btn:hover {
  background: unset;
  border: 1px solid #ff4b2b;
  color: #ff4b2b;
}

body .formRow {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  body .formRow {
    height: 70vh;
  }
}

body .formRow #signIn {
  position: absolute;
  left: 0vw;
  background: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1;
}

body .formRow #signUp {
  position: absolute;
  left: 0vw;
  background: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

body .col-lg-6 {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  body .col-lg-6 {
    height: 70%;
  }
}

body .col-lg-6 .content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

body .col-lg-6 .content .social a {
  color: #000;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto .75rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

body .col-lg-6 .content .social a:hover {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: #fff;
}

body .col-lg-6 .content .form-group input {
  background: #efefef8a;
  width: 350px;
}

body .col-lg-6 .content .form-group input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

body .overlayRow {
  width: 50vw;
}

body .overlayRow .overlay {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  body .overlayRow .overlay {
    height: 30vh;
    top: unset;
    bottom: 0;
    overflow: unset;
  }
}

body #signInOverlay {
  color: #fff;
  position: absolute;
  top: 0vh;
  left: 50vw;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

@media screen and (max-width: 768px) {
  body #signInOverlay {
    height: 100%;
    left: unset;
    bottom: 0;
    top: unset;
  }
}

body #signInOverlay .overlay-content {
  margin-left: -70rem;
}

@media screen and (max-width: 768px) {
  body #signInOverlay .overlay-content {
    margin-left: 0rem;
    margin-top: -30rem;
  }
}

body #signUpOverlay {
  color: #fff;
  position: absolute;
  top: 0vh;
  left: 50vw;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  z-index: 1;
  background: linear-gradient(-45deg, #ff416c, #ff4b2b) !important;
}

@media screen and (max-width: 768px) {
  body #signUpOverlay {
    height: 100%;
    left: unset;
    bottom: 0;
    top: unset;
  }
}

body .overlay-content {
  width: 75%;
  position: absolute;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 768px) {
  body .overlay-content p,
  body .overlay-content h1 {
    margin-bottom: 12px !important;
  }
  body .overlay-content p {
    font-size: unset !important;
    line-height: 1.5;
  }
  body .overlay-content h1 {
    font-size: 2rem !important;
  }
}

body .overlay-content h1 {
  font-size: 4rem;
  font-weight: 600;
}

body .overlay-content p {
  font-size: 1.25rem;
}

body .overlay-content .btn {
  border: 1px solid #f8f9fa !important;
}

body .overlay-content .btn:hover {
  background: #fff;
  color: #ff4b2b;
}
/*# sourceMappingURL=style.css.map */