$primary: #ff416c;
$secondary: #ff4b2b;

//break points
$sm-l: (max-width:426px); // #{$sm-l}
$sm-s: (max-width:320px); // #{$sm-s}
$tablet: (max-width:768px); // #{$tablet}

@mixin linear-primary {
    background: linear-gradient(45deg, $primary, $secondary)
}

body {
    color: #222;
    font: 16px/1.25 open sans;

    @media #{$sm-l} {
        font-size: 14px;
        line-height: .5;
    }

    .btn-primary,
    .bg-primary {
        @include linear-primary();
    }

    .btn {
        border-radius: 2rem;
        width: 9rem;
        height: 3rem;
        border: unset;
        line-height: 1.25rem;
        font-weight: 700;

        &:hover {
            background: unset;
            border: 1px solid #ff4b2b;
            color: #ff4b2b;
        }
    }

    .formRow {
        height: 100vh;

        @media #{$tablet} {
            height: 65vh;
        }

        @mixin formStyle {
            position: absolute;
            left: 0vw;
            background: #fff;
            transition: all 500ms ease;
        }

        #signIn {
            @include formStyle();
            z-index: 1;
        }

        #signUp {
            @include formStyle();
        }
    }



    .col-lg-6 {
        height: 100vh;


        @media #{$tablet} {
            height: 65%;
        }

        .content {

            h1 {
                font-size: 3rem;
                font-weight: 700;
                margin-bottom: 1.5rem;

                @media #{$tablet} {
                    margin-bottom: 1rem;
                    font-size: 2rem;
                }
            }

            .social {
                a {
                    color: #000;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    width: 3em;
                    height: 3em;
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: auto .75em;
                    margin-bottom: 2em;
                    text-decoration: none;

                    @media #{$tablet} {
                        margin-bottom: 1rem;
                        font-size: .8rem;
                    }

                    &:hover {
                        @include linear-primary();
                        color: #fff;
                    }
                }
            }

            .form-group {

                input {
                    background: #efefef8a;
                    width: 350px;

                    @media #{$sm-s} {
                        width: 250px;
                    }

                    @media #{$sm-l} {
                        width: 300px;
                    }

                    &:focus {
                        box-shadow: unset;
                    }
                }

                @media #{$sm-l} {
                    margin-bottom: .5rem !important;
                }
            }
        }
    }

    @mixin overlay-style {
        color: #fff;
        position: absolute;
        top: 0vh;
        left: 50vw;
        width: 100vw;
        height: 100vh;
        transition: all 400ms ease;
        @include linear-primary();


        @media #{$tablet} {
            height: 100%;
            left: unset;
            bottom: 0;
            top: unset;
        }
    }

    .overlayRow {
        width: 50vw;

        .overlay {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;


            @media #{$tablet} {
                height: 35vh;
                top: unset;
                bottom: 0;
                overflow: unset;
            }
        }
    }

    #signInOverlay {
        @include overlay-style();

        .overlay-content {
            margin-left: -70rem;

            @media #{$sm-l} {
                margin-left: 0rem;
                margin-top: -30rem;
            }
        }
    }

    #signUpOverlay {
        @include overlay-style();
        z-index: 1;
        background: linear-gradient(-45deg, $primary, $secondary) !important;
    }

    .overlay-content {
        width: 75%;
        position: absolute;
        transition: all 500ms ease-in-out;


        @media #{$sm-l} {

            p,
            h1 {
                margin-bottom: 12px !important;
            }

            p {
                font-size: unset !important;
                line-height: 1.5;
            }

            h1 {
                font-size: 2rem !important;
            }
        }

        h1 {
            font-size: 4rem;
            font-weight: 600;
        }

        p {
            font-size: 1.25rem;
        }

        .btn {
            border: 1px solid #f8f9fa !important;

            &:hover {
                background: #fff;
                color: #ff4b2b;
            }
        }
    }

    @media #{$sm-l} {
        
    }

}